{% load static %}
<nav class="cmpd-tabs">
  <button class="cmpd-tab {% if active_tab == 'tasks' %}active{% endif %}"
          data-bs-toggle="tab" data-bs-target="#tab-tasks" type="button">
    Задачи
  </button>
  <button class="cmpd-tab {% if active_tab == 'my' %}active{% endif %}"
          data-bs-toggle="tab" data-bs-target="#tab-my" type="button">
    Мои посылки
    {% if my_submissions_count %}
      <span class="cmpd-tab-badge">{{ my_submissions_count }}</span>
    {% endif %}
  </button>
  <button class="cmpd-tab {% if active_tab == 'standings' %}active{% endif %}"
          data-bs-toggle="tab" data-bs-target="#tab-standings" type="button">
    Положение
  </button>
</nav>